gymnasium==1.1.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
numpy==2.0.2
pillow==11.3.0
pygame==2.6.1
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
PyYAML==6.0.2
scipy==1.13.1
stable_baselines3==2.7.0
tensorboard==2.20.0
torch==2.8.0
tqdm==4.67.1
matplotlib 